* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-font: 'Handlee';
  --secondary-font: 'Amatic SC';
  --text-size: 1.4rem;
  --input-text-size: 1.88rem;
  --background-color: #DAE2E7;
  --light-black: #333333;
  --placeholder: #939393;
  --input-color: #ffff;
}
